.strategy-card {
    display: flex;
    align-items: flex-start;
    

    @include xl {
        border: 1px solid #f2f2f2;
        border-radius: 2px;
        padding: 35px 27px 35px 20px;
    }

    &__img {
        margin-right: 22px;
    }

    &__title {
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 5px;
    }
}
