.booking {
    // padding: 40px 50px;
    background: linear-gradient(to bottom, var(--dark-bg-color) 50%, var(--light-gray-1) 50%);
    
    @include lg {

        padding-bottom: 134px;
    }

    &__container {
        padding: 0;
        max-width: 877px;

        @include lg {
            display: flex;
        }
    }

    &__img-wrap {
        @include lg {
            height: 611px;
            max-width: 267px;
        }
    }
    &__img {
        width: 100%;
        @include lg {
            height: 100%;
            object-fit: cover;
        }
    }

    &__wrap {
        padding: 40px 40px;
        background-color: var(--light-bg-color);
    }

    &__title {
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 0.20000000298023224px;
        margin-bottom: 40px;

        @include lg {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 700;
            // font-size: 24px;
            text-align: center;
            letter-spacing: 0.1px;
            color: var(--dark-bg-color);
        }
    }

    &__inputs {
        margin-bottom: 40px;
    }

    &__input-item:not(:last-child) {
        margin-bottom: 12px;
    }

    &__name-title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.2px;
        color: var(--text-color);
        margin-bottom: 12px;
    }

    &__input {
        background: #f9f9f9;
        border: 1px solid var(--muted-color);
        box-sizing: border-box;
        border-radius: 5px;
        padding: 11px 21px;
        width: 100%;
    }

    &__button {
        width: 100%;
        cursor: pointer;
    }
}
