:root {
    --dark-bg-color: #252B42;
    --light-bg-color: #F9F9F9;
    --primary-color: hsl(202, 87%, 54%);
    --text-color: #252B42;
    --second-text-color: #737373;
    --light-text-color: #FFFFFF;
    --disabled-elem-color: #8EC2F2;
    --muted-color: #BDBDBD;
    --light-gray-1: #FAFAFA;
  }
